@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #081b29;
  color: #081b29;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #00abf0;
  top: 6px;
  text-decoration: none;
  font-weight: 600;
  background: transparent;
  animation: slide-In 2s ease forwards;
}

@keyframes slide-In {
  0% {
    top: -100px;
  }

  100% {
    top: 6px;
  }
}

/* design home */
.home {
  height: 90vh;
  background: #081b29;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  right: 550px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  animation: slide-In1 2s ease forwards;
  white-space: nowrap;
}

@keyframes slide-In1 {
  0% {
    right: -1000px;
  }

  100% {
    right: 40px;
  }
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.home-content h3 {
  position: relative;
  left: -40px;
  font-size: 32px;
  font-size: 700;
  color: #00abf0;
  animation: slide-In2 2s ease forwards;
}

@keyframes slide-In2 {
  0% {
    left: -1000px;
  }

  100% {
    left: -40px;
  }
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  right: 40px;
  font-size: 16px;
  margin: 30px 0 60px;
  font-weight: bold;
  text-align: justify;
  animation: slide-In3 2s ease forwards;
  color: white;
}

@keyframes slide-In3 {
  0% {
    right: -1000px;
  }

  100% {
    right: 40px;
  }
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  right: 40px;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  animation: slide-In4 2s ease forwards;
}

@keyframes slide-In4 {
  0% {
    right: 1000px;
  }

  100% {
    right: 40px;
  }
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #dfe8ef;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #f2f6f8;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: width 0.5s ease;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;

  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: -80%;
}

.home-sci a:hover {
  color: transparent;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  left: 15px;
  width: 630px;
  height: 100%;
  background: transparent;

  z-index: -1;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

.hidden {
  display: none;
}

/* bagian navbar  */
.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: #081b29;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #33b1ef;
}

#menuicon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

@media (max-width: 1100px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 920px) {
  .header {
    padding: 2rem 4%;
  }
}

@media (max-width: 740px) {
  #menuicon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 400px) {
  .home-content h1 {
    display: block;
    position: relative;
    align-items: center;
    left: 10px;
  }

  .home-content h3 {
    position: relative;
    text-align: center;
  }

  .home-content p {
    font-size: large;
    text-align: center;
    position: fixed;
  }

  #menuicon {
    display: block;
    position: relative;
    right: -60%;
  }

  .navbar {
    position: relative;
    justify-content: space-between;
  }

  .btn-box {
    position: relative;
    bottom: -21rem;
    left: 14rem;
  }

  .home-sci {
    position: relative;
    bottom: -25rem;
    left: 23rem;
  }
}

/* experience */

/* bagian nama dan info kontak */
.experience {
  height: 150vh;
  margin-right: 150px; /* Menggunakan margin-right sebagai gantinya */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%; /* Menyesuaikan nilai padding sesuai kebutuhan */
  position: relative; /* Menambahkan position: relative jika diperlukan */
}

.experience-content {
  max-width: 700px;
}

.experience-content h1 {
  position: relative;
  right: -200px;
  top: -280px;
  padding: 0 40%;
  font-size: 29px;
  font-weight: 600;
  line-height: 1.2;
  color: #33b1ef;
}

.experience-content h3 {
  position: relative;
  right: -200px;
  top: -280px;
  padding: 0 40%;
  color: white;
}

.experience-content p {
  position: relative;
  right: -260px;
  top: -280px;
  padding: 0 15%;
  color: white;
}
/* akhir bagian info kontak */

/* isi dari cv */
.word strong {
  position: relative;
  right: -318px;
  top: -170px;
  padding: 0 50%;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #2692c0; /* Warna untuk judul-judul kuat */
}

.word h3 {
  position: relative;
  right: -493px;
  top: -250px;
  max-width: 2000px; /* Memberikan batasan kelebaran */
  text-align: start; /* Mengatur teks menjadi justified */
  margin: 60px -50% auto; /* Memusatkan elemen h3 dan memberikan margin bawah */
  padding: 1 30%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  color: white;
}

.intern strong {
  position: relative;
  white-space: nowrap;
  right: -230px;
  top: 200px;
  padding: 0 0%;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #2692c0; /* Warna untuk judul-judul kuat */
}

.intern h3 {
  position: relative;
  right: -290px;
  top: 150px;
  max-width: 1800px; /* Memberikan batasan kelebaran */
  text-align: start; /* Mengatur teks menjadi justified */
  margin: 60px -25% auto; /* Memusatkan elemen h3 dan memberikan margin bawah */
  padding: 5 15%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
}

.intern li {
  color: white;
}

.intern em {
  font-style: italic;
  color: #33b1ef; /* Warna untuk teks yang diemphasize */
}

.skill p {
  position: relative;
  right: 823px;
  top: 240px;
}

.skill ul {
  position: relative;
  right: 823px;
  top: 220px;
  color: white;
}

.skill h3 {
  position: relative;
  right: 823px;
  top: 240px;
  color: #33b1ef;
}

.skill strong {
  color: #33b1ef;
}

.skill h3 {
  white-space: nowrap;
}

.education strong {
  position: relative;
  right: 10px;
  top: 450px;
  padding: 0 0%;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #2692c0;
}

.education h3 {
  position: relative;
  right: 10px;
  top: 460px;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  color: white;
}
.word ul {
  list-style-type: disc;
  margin-left: 20px;
}

.word li {
  margin-bottom: -800px;
  margin-top: 100px; /* Sesuaikan nilai margin-top sesuai kebutuhan */
}

.word p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px; /* Sesuaikan nilai margin-top sesuai kebutuhan */
  color: white;
}

/* Style untuk judul section */
.word p strong {
  align-self: flex-start;
}

/* akhir cv */

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #33b1ef;
}

.dropdown {
  position: relative;
  margin-left: 5px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;

  background-color: transparent;
  text-decoration: none;
  width: 160px;
  margin: 0 auto;
  cursor: pointer;
}

.dropdown:hover .dropbtn,
.dropdown:hover .dropdown-content {
  background-color: transparent;
  text-align: center;
  transition: 0.6s;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  outline: none;
  position: absolute;
  background-color: #f50909;
  min-width: 160px;
  box-shadow: #33b1ef;
  z-index: 1;
  top: 100%;
  left: 4px;
}

.dropdown-content a {
  float: none;
  color: #ededed;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #7cd4dd;
  transition: 2s;
  border-radius: 100px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

.hidden {
  display: none;
}
/* experience end */

/* portofolio */
.heading {
  position: relative;
  top: 8rem;
  text-align: center;
  font-size: 2.5rem;
}

.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 12rem;
  color: #2692c0;
}

.portfolio-container {
  display: grid;
  height: 450px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  /* height: 300px; */
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 4rem;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 2.1rem;
  color: #2692c0;
}

.portfolio-layer p {
  font-size: 1.1rem;
  margin: 0.3rem 0 1rem;
  color: #2692c0;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--text-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 1.5rem;
  color: var(--second-bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  max-width: 45rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.9rem;
  font-size: 0.9rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 0.4rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 1rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.1rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: var(--main-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 1.5rem;
  color: var(--second-bg-color);
}
